<footer class="site-footer">
	<div class="container">
	 <div class="row">
	  <div class="col-lg-5">
	    <ul class="list-unstyled">
	      <li><h6 class="heading-lead-sm text-muted">About</h6></li>
	      <li>
	       We’ve been working on Go Analytics for the better part of a decade and are super proud of what we’ve created. If you’d like to learn more, or are interested in a job, contact us anytime at <a href="mailto: themes@getbootstrap.com">themes@getbootstrap.com</a>.
	      </li>
	    </ul>
	  </div>
	  <div class="col-lg-2 offset-lg-1">
	    <ul class="list-unstyled">
	      <li><h6 class="heading-lead-sm text-muted">Product</h6></li>
	      <li><a href="#">Features</a></li>
	      <li><a href="#">Examples</a></li>
	      <li><a href="#">Tour</a></li>
	      <li><a href="#">Gallery</a></li>
	    </ul>
	  </div>
	  <div class="col-lg-2">
	    <ul class="list-unstyled">
	      <li><h6 class="heading-lead-sm text-muted">Apis</h6></li>
	      <li><a href="#">Rich data</a></li>
	      <li><a href="#">Simple data</a></li>
	      <li><a href="#">Real time</a></li>
	      <li><a href="#">Social</a></li>
	    </ul>
	  </div>
	  <div class="col-lg-2">
	    <ul class="list-unstyled">
	      <li><h6 class="heading-lead-sm text-muted">Legal</h6></li>
	      <li><a href="#">Terms</a></li>
	      <li><a href="#">Legal</a></li>
	      <li><a href="#">Privacy</a></li>
	      <li><a href="#">License</a></li>
	    </ul>
	  </div>
	  </div>
	</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/site.js" | prepend: site.baseurl }}"></script>
