<header class="site-header">
  <nav class="navbar navbar-dark navbar-fixed-top">
    <div class="container">
      <button class="navbar-toggler pull-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
      <div class="collapse navbar-toggleable-md" id="navbarResponsive">
        <a class="navbar-brand" href="{{ site.url | append: "/grocein" }}">{{ site.title }}</a>
        <ul class="nav navbar-nav site-nav pull-right">
          {% for link in site.data.links %}
          <li class="nav-item {% if page.title == link.title %} active {% endif %} ">
            <a class="nav-link" href="{{ link.url | prepend: site.baseurl }}" title="{{ link.title }}">{{ link.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-lg-7 tt">
        <div class="site-header-text">
          <h1>Analytics on demand.</h1>
          <p>Stop installing bloated scripts that all track the exact same things. Install one that does everything.</p>
          <button class="btn btn-default btn-xlg">Try it now</button>
        </div>
      </div>
    </div>
  </div>
</header>
