<nav class="navbar navbar-dark navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{{ site.url | append: "/grocein" }}">{{ site.title }}</a>
    <button class="navbar-toggler pull-right hidden-md-up" type="button" data-toggle="offcanvas" aria-label="Toggle navigation"></button>
    <div class="sidebar-offcanvas">
      <ul class="nav navbar-nav site-nav">
        <li class="nav-item hidden-md-up">
          <span class="navbar-text text-muted"> MENU </span>
        </li>
        {% for link in site.data.links %}
        <li class="nav-item {% if page.title == link.title %} active {% endif %} ">
          <a class="nav-link" href="{{ link.url | prepend: site.baseurl }}" title="{{ link.title }}">{{ link.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
