// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

$font-size-h1: 2.25rem !default;
$font-size-h2: 1.75rem !default;
$font-size-h3: 1.50rem !default;
$font-size-h4: 1.25rem !default;
$font-size-h5: 1rem !default;
$font-size-h6: .75rem !default;
