// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.

$font-size-h1: 2.25rem !default;
$font-size-h2: 1.75rem !default;
$font-size-h3: 1.50rem !default;
$font-size-h4: 1.25rem !default;
$font-size-h5: 1rem !default;
$font-size-h6: .75rem !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 880px,
  xl: 1020px
) !default;
